<div class="well"><center>
  <h1>Benvenuto!</h1>
  <p>
    <%= image_tag 'default.jpg', alt: 'Create Facebook Profile Image', class: 'img-responsive' %>
  </p>

  <p>Crea la tua immagine profilo "Social Day" per Facebook.</p>
  <p><%= link_to "Login with Facebook", auth_provider_url, class: 'btn btn-success btn-lg' %></p>
</center></div>
