<footer>
  <p class="col-md-12 col-sm-12 col-xs-12">
    Copyright &copy; Social Day 2016. Tutti i diritti riservati. Forked from the original Github "Profile Overlay" project, developed by
    <a href="https://github.com/lalusaud/profile_overlay" target="_blank">Lal B. Saud</a>.|
    <%= link_to 'Privacy Policy', privacy_path %>
  </p>
</footer>
